{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">Сканер конечных точек {{ agent.ip }}</h1>
          </div>
          <div class="card-body">
            <h3>Управление сканированием</h3>
            <form action="antivirus" target="_blank">
              <button class="btn btn-primary">Запустить антивирусное сканирование</button>
            </form>
            <form action="host_logs" target="_blank">
              <button class="btn btn-primary">Собрать логи</button>
            </form>
            <div id="logs-output" style="max-height: 200px; overflow-y: auto;">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-danger">
                  <ul>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='endpoint_scanner.js') }}"></script>
{% endblock %}